:root {
    --background-color: #f6c1c1;
    --primary-color: #8c5e54;
    --secondary-color: #404040;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-color);
}

/* Structure */
#content {
    background: #fff;
    padding: 5px;
    width: 80%;
    /* center horizontally */
    margin: auto;
    border-radius: 5px;
}

#play-area {
    width: 100%;
    height: 400px;
    background: lightgray;

}

#block {
    width: 150px;
    height: 150px;
    background: skyblue;
    animation-name: play;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
}

/* Animations */

@keyframes play {
    0% {
        background:red;
        opacity: 1;
        left: 0%;
        /* transform: rotate(0deg); */
    }
    20%{
        background:orange
    }
    40%{
        background:yellow;
        left: 0%;
        transform: rotate(360deg);
    }
    60%{
        background:green;
        opacity: 0;
    }
    80%{
        background:blue;
    }
    100%{
        background:purple;
        left: 0%;
    }
}

/* Typography */

h1 {
    color: darkslategray;
}

#block p {
    text-align: center;
    line-height: 150px;
}